// Colors
$white: #fff;
$light-grey: #f5f5f5;
$dark-grey: #c9c9c9;
$black: #000;

// Material box shadows
$material-1: 0px 2px 4px rgba($black, 0.3);
$material-2: 0px 4px 8px rgba($black, 0.3);
$material-3: 0px 6px 12px rgba($black, 0.3);
$material-4: 0px 8px 16px rgba($black, 0.3);
