.chart {
  width: 100%;
  box-shadow: $material-2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__header {
    width: $chart-header-width;

    &--caption {
      padding: 0 1rem;
      text-align: right;
      white-space: nowrap;
      overflow: scroll;
    }
  }

  &__body {
    width: 100%;

    &--blocks-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;

      &--wrapper {
        width: 100%;
        height: 100%;
        margin: 0 1rem;
        position: relative;
        height: $chart-blocks-height;
        line-height: $chart-blocks-height;

        .chart__block {
          position: absolute;
          height: 100%;
          z-index: 1;
          text-align: center;
          box-shadow: $material-1;

          &--tooltip {
            z-index: 2;
            display: none;
            position: absolute;
            top: -80%;
            height: $chart-block-tooltip-height;
            line-height: $chart-block-tooltip-height;
            padding: 0 .5rem;
            text-align: center;
            font-size: 1rem;
            color: $grey-5;
            background-color: $white;
            box-shadow: $material-4;
            white-space: nowrap;
          }
        }
      }
    }

    &--timeline {
      height: $chart-timeline-height;
      margin: 0 1rem;
      position: relative;

      .chart__breakpoint {
        position: absolute;
        height: $chart-breakpoint-height;
        line-height: $chart-breakpoint-height;
        font-size: .8rem;
        transform: translateX(-50%);

        &--pipe {
          position: absolute;
          z-index: -1;
          left: 50%;
          width: 1px;
          transform: translateX(-50%);
          background-color: $grey-4;
        }
      }
    }
  }

  &__cell {
    height: $chart-cell-height;
    line-height: $chart-cell-height;
    position: relative;
    color: $grey-5;
    font-size: 1.2rem;
    vertical-align: middle;
    border-bottom: 1px solid $grey-2;

    &:nth-child(even) {
      background-color: $grey-1;
    }
  }
}
